@import "tailwindcss";

:root {
  --color-primary-dark: #0e1e33;
  --color-primary: #1a2c42;
  --color-primary-light: #213559;
  --color-primary-lighter: #2a4470;
  
  --color-accent-cyan: #06b6d4;
  --color-accent-cyan-dark: #0891b2;
  --color-accent-yellow: #facc15;
  
  --color-white: #ffffff;
  
  --color-text-secondary: #d1d5db;
  --color-text-muted: #9ca3af;
  --color-text-disabled: #6b7280;
  
  --color-error: #f87171;
  --color-success: #16a34a;
}
