@import "tailwindcss";

:root {
  --color-primary-dark: #0e1e33;
  --color-primary: #1a2c42;
  --color-primary-light: #213559;
  --color-primary-lighter: #2a4470;
  
  --color-accent-cyan: #06b6d4;
  --color-accent-cyan-dark: #0891b2;
  --color-accent-yellow: #facc15;
  
  --color-white: #ffffff;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  
  --color-error: #f87171;
  --color-success: #16a34a;
}
